USE [QLTHUCUNG]
GO
/****** Object:  Table [dbo].[THUCUNG]    Script Date: 13/04/2022 1:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCUNG](
	[MATC] [nchar](10) NOT NULL,
	[TENTC] [nvarchar](50) NULL,
	[ANH] [image] NULL,
	[IMPATH] [nvarchar](max) NULL,
 CONSTRAINT [PK_THUCUNG] PRIMARY KEY CLUSTERED 
(
	[MATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
