USE [QL_GIANGVIEN]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[TSGIO] [int] NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MAGV] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
	[SOGIODAY] [int] NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MAMH] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ABC]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ABC]
AS
SELECT GIANGVIEN.MAGV, HOTEN, MONHOC.MAMH, TENMH, LOP.MALOP, TENLOP, SOGIODAY
FROM GIANGVIEN, MONHOC, LOP,PHANCONG
WHERE GIANGVIEN.MAGV = PHANCONG.MAGV
AND MONHOC.MAMH = PHANCONG.MAMH
AND LOP.MALOP = PHANCONG.MALOP
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [TSGIO]) VALUES (N'GV01      ', N'GIANG VIEN 1', 200)
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [TSGIO]) VALUES (N'GV02      ', N'GIANG VIEN 2', 250)
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [TSGIO]) VALUES (N'GV03      ', N'GIANG VIEN 3', 1200)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (N'L01       ', N'PHONG MAY 1')
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (N'L02       ', N'PHONG MAY 2')
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (N'L03       ', N'PHONG MAY 3')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'MH01      ', N'QUAN TRI MANG')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'MH02      ', N'MANG MAY TINH')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'MH03      ', N'LAP RAP CAI DAT')
GO
INSERT [dbo].[PHANCONG] ([MAGV], [MAMH], [MALOP], [SOGIODAY]) VALUES (N'GV01      ', N'MH01      ', N'L01       ', 10)
INSERT [dbo].[PHANCONG] ([MAGV], [MAMH], [MALOP], [SOGIODAY]) VALUES (N'GV01      ', N'MH01      ', N'L02       ', 20)
INSERT [dbo].[PHANCONG] ([MAGV], [MAMH], [MALOP], [SOGIODAY]) VALUES (N'GV01      ', N'MH02      ', N'L01       ', 100)
GO
/****** Object:  Trigger [dbo].[TR_CAPNHATPHANCONG]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_CAPNHATPHANCONG]
ON [dbo].[PHANCONG]
--nhan manh thao tac gi
FOR UPDATE
AS
	BEGIN
		--xóa những dòng có mã hs trong bảng deleted của bảng KETQUA
		UPDATE GIANGVIEN
		SET
			-- deleted là bảng giả nhưng có cột như bảng HOCSINH
			--xóa học bổng cũ sau đó thêm học bổng mới
			TSGIO = TSGIO - (SELECT SOGIODAY FROM deleted) + (SELECT SOGIODAY FROM inserted)
		WHERE MAGV = (SELECT MAGV FROM inserted)

		PRINT 'DA CAP NHAT GIANGVIEN SAU KHI CAP NHAT!!!'
	END
GO
ALTER TABLE [dbo].[PHANCONG] ENABLE TRIGGER [TR_CAPNHATPHANCONG]
GO
/****** Object:  Trigger [dbo].[TR_THEMPHANCONG]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_THEMPHANCONG]
ON [dbo].[PHANCONG]
--nhan manh thao tac gi
FOR INSERT
AS
	-- Nếu xuất hiện mẫu tin trong bảng inserted
	IF((SELECT MAGV FROM inserted) IS NOT NULL)
	BEGIN
		UPDATE GIANGVIEN
		SET
			-- inserted là bảng giả nhưng có cột như bảng CTHD
			TSGIO = TSGIO + (SELECT SOGIODAY FROM inserted)
		WHERE MAGV = (SELECT MAGV FROM inserted)

		PRINT 'DA CAP NHAT GIANGVIEN SAU KHI THEM!!!'
	END
GO
ALTER TABLE [dbo].[PHANCONG] ENABLE TRIGGER [TR_THEMPHANCONG]
GO
/****** Object:  Trigger [dbo].[TR_XOAPHANCONG]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_XOAPHANCONG]
ON [dbo].[PHANCONG]
--nhan manh thao tac gi
FOR DELETE
AS
	BEGIN
		UPDATE GIANGVIEN
			SET
				-- inserted là bảng giả nhưng có cột như bảng CTHD
				TSGIO = TSGIO - (SELECT SOGIODAY FROM deleted)
			WHERE MAGV = (SELECT MAGV FROM deleted)

			PRINT 'DA CAP NHAT GIANGVIEN SAU KHI XOA!!!'
	END
GO
ALTER TABLE [dbo].[PHANCONG] ENABLE TRIGGER [TR_XOAPHANCONG]
GO
/****** Object:  Trigger [dbo].[TR_SUATRONGVIEWS]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_SUATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF UPDATE
AS
BEGIN
	IF EXISTS(SELECT MAMH FROM inserted)
	BEGIN
		UPDATE PHANCONG
		SET SOGIODAY = (SELECT SOGIODAY FROM inserted)
		WHERE MAGV = (SELECT MAGV FROM inserted)
		AND MAMH = (SELECT MAMH FROM inserted)
		AND MALOP = (SELECT MALOP FROM inserted)

		PRINT 'DA SUA VAO BANG PHANCONG'
	END
END
GO
/****** Object:  Trigger [dbo].[TR_THEMTRONGVIEWS]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_THEMTRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF INSERT
AS
BEGIN
	IF EXISTS (SELECT MAGV FROM inserted)
	BEGIN TRAN THEM
	BEGIN
		--ton tai mau tin nao do trong bang inserted nhưng khong co MANV nam trong bang HOADON
		IF(EXISTS(SELECT MAGV FROM inserted WHERE MAGV NOT IN(SELECT MAGV FROM GIANGVIEN)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
		--ton tai mau tin nao do trong bang inserted nhưng khong co MADA nam trong bang SANPHA,
		IF(EXISTS(SELECT MAMH FROM inserted WHERE MAMH NOT IN(SELECT MAMH FROM MONHOC)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
		--ton tai mau tin nao do trong bang inserted nhưng khong co MADA nam trong bang SANPHA,
		IF(EXISTS(SELECT MALOP FROM inserted WHERE MALOP NOT IN(SELECT MALOP FROM LOP)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
	END

	--nếu bị 1 lỗi thì sẽ ko thêm được
	IF @@ERROR=1
	BEGIN
		ROLLBACK TRAN THEM
	END
	--ngược lại thì sẽ thêm được
	ELSE
	BEGIN
		INSERT INTO PHANCONG
		SELECT MAGV,MAMH,MALOP,SOGIODAY FROM inserted
		COMMIT TRAN THEM
		PRINT 'DA THEM VAO BANG PHANCONG'
	END
END
GO
/****** Object:  Trigger [dbo].[TR_XOATRONGVIEWS]    Script Date: 13/04/2022 12:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_XOATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF DELETE
AS
BEGIN	
	IF EXISTS(SELECT MAMH FROM deleted)
	BEGIN
		DELETE FROM PHANCONG
		WHERE MAGV = (SELECT MAGV FROM deleted)
		AND MAMH = (SELECT MAMH FROM deleted)
		AND MALOP = (SELECT MALOP FROM deleted)
		PRINT 'DA XOA VAO BANG PHANCONG'
	END
END
GO
