USE [QL_GIANGVIEN2]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 13/04/2022 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MAGV] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[SOTIETDADAY] [int] NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 13/04/2022 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[SOTIET] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 13/04/2022 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[LUONGCB] [money] NULL,
	[HESO] [float] NULL,
	[DUONGDANANH] [nvarchar](max) NULL,
	[ANH] [image] NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ABC]    Script Date: 13/04/2022 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ABC]
AS
SELECT GIANGVIEN.MAGV, HOTEN, MONHOC.MAMH, TENMH, SOTIET,SOTIETDADAY
FROM GIANGVIEN, MONHOC, PHANCONG
WHERE GIANGVIEN.MAGV = PHANCONG.MAGV
AND MONHOC.MAMH = PHANCONG.MAMH
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 13/04/2022 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
	[SLGV] [int] NULL,
	[TONGLUONG] [money] NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 13/04/2022 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [nchar](15) NOT NULL,
	[password] [nchar](15) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [SLGV], [TONGLUONG]) VALUES (N'K01       ', N'KHOA 1', 3, 6115000.0000)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [SLGV], [TONGLUONG]) VALUES (N'K02       ', N'KHOA 2', 1, 2000.0000)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [SLGV], [TONGLUONG]) VALUES (N'K03       ', N'KHOA 3', 0, 0.0000)
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET]) VALUES (N'MH01      ', N'MON HOC 1', 100)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET]) VALUES (N'MH02      ', N'MON HOC 2', 100)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET]) VALUES (N'MH03      ', N'MON HOC 3', 100)
GO
INSERT [dbo].[PHANCONG] ([MAGV], [MAMH], [SOTIETDADAY]) VALUES (N'GV01      ', N'MH01      ', 50)
INSERT [dbo].[PHANCONG] ([MAGV], [MAMH], [SOTIETDADAY]) VALUES (N'GV01      ', N'MH02      ', 20)
INSERT [dbo].[PHANCONG] ([MAGV], [MAMH], [SOTIETDADAY]) VALUES (N'GV03      ', N'MH01      ', 100)
GO
INSERT [dbo].[TAIKHOAN] ([username], [password], [status]) VALUES (N'kid            ', N'123            ', 1)
INSERT [dbo].[TAIKHOAN] ([username], [password], [status]) VALUES (N'son            ', N'123            ', NULL)
GO
/****** Object:  Trigger [dbo].[TG_THEMGIANGVIEN2]    Script Date: 13/04/2022 12:55:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_THEMGIANGVIEN2]
ON [dbo].[GIANGVIEN]
--nhan manh thao tac gi
FOR INSERT
AS
	-- Nếu xuất hiện mẫu tin trong bảng inserted
	IF((SELECT MAKHOA FROM inserted) IS NOT NULL)
	BEGIN
		UPDATE KHOA
		SET
			-- inserted là bảng giả nhưng có cột như bảng PHANCONG
			SLGV = SLGV + 1,
			TONGLUONG = TONGLUONG + ((SELECT LUONGCB FROM inserted)*(SELECT HESO FROM inserted))
		WHERE MAKHOA = (SELECT MAKHOA FROM inserted)

		PRINT 'DA CAP NHAT KHOA SAU KHI THEM GIANGVIEN!!!'
	END
GO
ALTER TABLE [dbo].[GIANGVIEN] ENABLE TRIGGER [TG_THEMGIANGVIEN2]
GO
/****** Object:  Trigger [dbo].[TG_XOAGIANGVIEN2]    Script Date: 13/04/2022 12:55:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_XOAGIANGVIEN2]
ON [dbo].[GIANGVIEN]
--nhan manh thao tac gi
FOR DELETE
AS
	BEGIN
		UPDATE KHOA
			SET
				SLGV = SLGV - 1,
			TONGLUONG = TONGLUONG - ((SELECT LUONGCB FROM deleted)*(SELECT HESO FROM deleted))
			WHERE MAKHOA = (SELECT MAKHOA FROM deleted)

			PRINT 'DA CAP NHAT KHOA SAU KHI XOA GIANGVIEN!!!'
	END
GO
ALTER TABLE [dbo].[GIANGVIEN] ENABLE TRIGGER [TG_XOAGIANGVIEN2]
GO
/****** Object:  Trigger [dbo].[TR_CAPNHATGIANGVIEN2]    Script Date: 13/04/2022 12:55:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_CAPNHATGIANGVIEN2]
ON [dbo].[GIANGVIEN]
--nhan manh thao tac gi
FOR UPDATE
AS
	BEGIN
		UPDATE KHOA
		SET
			TONGLUONG = TONGLUONG - ((SELECT LUONGCB FROM deleted)*(SELECT HESO FROM deleted)) + ((SELECT LUONGCB FROM inserted)*(SELECT HESO FROM inserted))
		WHERE MAKHOA = (SELECT MAKHOA FROM deleted)

		PRINT 'DA CAP NHAT KHOA SAU KHI CAP NHAT GIANGVIEN!!!'
	END
GO
ALTER TABLE [dbo].[GIANGVIEN] ENABLE TRIGGER [TR_CAPNHATGIANGVIEN2]
GO
/****** Object:  Trigger [dbo].[TR_SUATRONGVIEWS]    Script Date: 13/04/2022 12:55:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_SUATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF UPDATE
AS
BEGIN
	IF EXISTS(SELECT MAMH FROM inserted)
	BEGIN
		UPDATE PHANCONG
		SET SOTIETDADAY = (SELECT SOTIETDADAY FROM inserted)
		WHERE MAGV = (SELECT MAGV FROM inserted)
		AND MAMH = (SELECT MAMH FROM inserted)

		PRINT 'DA SUA VAO BANG PHANCONG'
	END
END
GO
/****** Object:  Trigger [dbo].[TR_THEMTRONGVIEWS]    Script Date: 13/04/2022 12:55:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_THEMTRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF INSERT
AS
BEGIN
	IF EXISTS (SELECT MAGV FROM inserted)
	BEGIN TRAN THEM
	BEGIN
		--ton tai mau tin nao do trong bang inserted nhưng khong co MAGV nam trong bang GIANGVIEN
		IF(EXISTS(SELECT MAGV FROM inserted WHERE MAGV NOT IN(SELECT MAGV FROM GIANGVIEN)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
		--ton tai mau tin nao do trong bang inserted nhưng khong co MAMH nam trong bang MONHOC
		IF(EXISTS(SELECT MAMH FROM inserted WHERE MAMH NOT IN(SELECT MAMH FROM MONHOC)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
	END

	--nếu bị 1 lỗi thì sẽ ko thêm được
	IF @@ERROR=1
	BEGIN
		ROLLBACK TRAN THEM
	END
	--ngược lại thì sẽ thêm được
	ELSE
	BEGIN
		INSERT INTO PHANCONG
		SELECT MAGV,MAMH,SOTIETDADAY FROM inserted
		COMMIT TRAN THEM
		PRINT 'DA THEM VAO BANG PHANCONG'
	END
END
GO
/****** Object:  Trigger [dbo].[TR_XOATRONGVIEWS]    Script Date: 13/04/2022 12:55:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_XOATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF DELETE
AS
BEGIN	
	IF EXISTS(SELECT MAMH FROM deleted)
	BEGIN
		DELETE FROM PHANCONG
		WHERE MAGV = (SELECT MAGV FROM deleted)
		AND MAMH = (SELECT MAMH FROM deleted)
		PRINT 'DA XOA VAO BANG PHANCONG'
	END
END
GO
