USE [QLBH_1004_TEST]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](4) NOT NULL,
	[TENSP] [varchar](40) NULL,
	[DVT] [varchar](20) NULL,
	[NUOCSX] [varchar](40) NULL,
	[GIA] [money] NULL,
	[DUONGDANANH] [nvarchar](500) NULL,
	[ANH] [image] NULL,
 CONSTRAINT [pk_sp] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGHD] [smalldatetime] NULL,
	[MAKH] [char](4) NULL,
	[MANV] [char](4) NULL,
	[TRIGIA] [money] NULL,
 CONSTRAINT [pk_hd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASP] [char](4) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [pk_cthd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ABC]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ABC]
AS
SELECT HOADON.SOHD,MAKH,SANPHAM.MASP,GIA,SL,GIA*SL AS THANHTIEN
FROM HOADON,CTHD,SANPHAM
WHERE HOADON.SOHD = CTHD.SOHD
AND SANPHAM.MASP = CTHD.MASP
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NULL,
	[DCHI] [varchar](50) NULL,
	[SODT] [varchar](20) NULL,
	[NGSINH] [smalldatetime] NULL,
	[NGDK] [smalldatetime] NULL,
	[DOANHSO] [money] NULL,
 CONSTRAINT [pk_kh] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[KH_HD]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[KH_HD]
AS
SELECT KHACHHANG.MAKH,HOTEN,DCHI,SODT,SOHD,NGHD,MANV,TRIGIA
FROM KHACHHANG,HOADON
WHERE KHACHHANG.MAKH=HOADON.MAKH
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NULL,
	[SODT] [varchar](20) NULL,
	[NGVL] [smalldatetime] NULL,
 CONSTRAINT [pk_nv] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 18/04/2022 12:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [nchar](50) NOT NULL,
	[password] [nchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'BB01', 100)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'BB02', 200)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'BB03', 100)
GO
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1001, CAST(N'2006-07-23T00:00:00' AS SmallDateTime), N'KH01', N'NV01', 320000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1002, CAST(N'2006-08-12T00:00:00' AS SmallDateTime), N'KH01', N'NV02', 840000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1003, CAST(N'2006-08-23T00:00:00' AS SmallDateTime), N'KH02', N'NV01', 100000.0000)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH01', N'Nguyen Van A', N'731 Tran Hung Dao, Q5, TpHCM', N'8823451', CAST(N'1960-10-22T00:00:00' AS SmallDateTime), CAST(N'2006-07-22T00:00:00' AS SmallDateTime), 13060000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH02', N'Tran Ngoc Han', N'23/5 Nguyen Trai, Q5, TpHCM', N'908256478', CAST(N'1974-04-03T00:00:00' AS SmallDateTime), CAST(N'2006-07-30T00:00:00' AS SmallDateTime), 280000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH03', N'Tran Ngoc Linh', N'45 Nguyen Canh Chan, Q1, TpHCM', N'938776266', CAST(N'1980-06-12T00:00:00' AS SmallDateTime), CAST(N'2006-05-08T00:00:00' AS SmallDateTime), 3860000.0000)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODT], [NGVL]) VALUES (N'NV01', N'Nguyen Nhu Nhut', N'927345678', CAST(N'2006-04-13T00:00:00' AS SmallDateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODT], [NGVL]) VALUES (N'NV02', N'Le Thi Phi Yen', N'987567390', CAST(N'2006-04-21T00:00:00' AS SmallDateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODT], [NGVL]) VALUES (N'NV03', N'Nguyen Van B', N'997047382', CAST(N'2006-04-27T00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[TAIKHOAN] ([username], [password], [status]) VALUES (N'dad                                               ', N'234                                               ', 0)
INSERT [dbo].[TAIKHOAN] ([username], [password], [status]) VALUES (N'kid                                               ', N'123                                               ', 1)
GO
/****** Object:  Trigger [dbo].[TG_SUATRONGVIEWS]    Script Date: 18/04/2022 12:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_SUATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF UPDATE
AS
BEGIN
	IF EXISTS(SELECT MASP FROM inserted)
	BEGIN
		UPDATE CTHD
		SET SL = (SELECT SL FROM inserted)
		WHERE SOHD = (SELECT SOHD FROM inserted)
		AND MASP = (SELECT MASP FROM inserted)

		PRINT 'DA SUA VAO BANG CTHD'
	END
END
GO
/****** Object:  Trigger [dbo].[TG_THEMTRONGVIEWS]    Script Date: 18/04/2022 12:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_THEMTRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF INSERT
AS
BEGIN
	IF EXISTS (SELECT SOHD FROM inserted)
	BEGIN TRAN THEM
	BEGIN
		--ton tai mau tin nao do trong bang inserted nhưng khong co SOHD nam trong bang HOADON
		IF(EXISTS(SELECT SOHD FROM inserted WHERE SOHD NOT IN(SELECT SOHD FROM HOADON)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
		--ton tai mau tin nao do trong bang inserted nhưng khong co MAKH nam trong bang KHACHHANG
		IF(EXISTS(SELECT MAKH FROM inserted WHERE MAKH NOT IN(SELECT MAKH FROM KHACHHANG)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
		--ton tai mau tin nao do trong bang inserted nhưng khong co MASP nam trong bang SANPHAM
		IF(EXISTS(SELECT MASP FROM inserted WHERE MASP NOT IN(SELECT MASP FROM SANPHAM)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
	END

	--nếu bị 1 lỗi thì sẽ ko thêm được
	IF @@ERROR=1
	BEGIN
		ROLLBACK TRAN THEM
	END
	--ngược lại thì sẽ thêm được
	ELSE
	BEGIN
		INSERT INTO CTHD
		SELECT SOHD,MASP,SL FROM inserted
		COMMIT TRAN THEM
		PRINT 'DA THEM VAO BANG CTHD'
	END
END
GO
/****** Object:  Trigger [dbo].[TG_XOATRONGVIEWS]    Script Date: 18/04/2022 12:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_XOATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF DELETE
AS
BEGIN	
	IF EXISTS(SELECT MASP FROM deleted)
	BEGIN
		DELETE FROM CTHD
		WHERE SOHD = (SELECT SOHD FROM deleted)
		AND MASP = (SELECT MASP FROM deleted)
		PRINT 'DA XOA VAO BANG CTHD'
	END
END
GO
