USE [QLHS2]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 13/04/2022 1:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[MALOP] [nchar](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[HOCBONG] [money] NULL,
	[DUONGDANANH] [nvarchar](max) NULL,
	[ANH] [image] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 13/04/2022 1:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nchar](10) NULL,
	[SOTC] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 13/04/2022 1:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MASV] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_KETQUA] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ABC]    Script Date: 13/04/2022 1:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ABC]
AS
SELECT SINHVIEN.MASV, HOTEN,MALOP,MONHOC.MAMH, TENMH, SOTC,DIEM
FROM SINHVIEN, MONHOC, KETQUA
WHERE SINHVIEN.MASV = KETQUA.MASV
AND MONHOC.MAMH = KETQUA.MAMH
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 13/04/2022 1:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[TONGSO] [int] NULL,
	[TONGHB] [money] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 13/04/2022 1:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [nchar](15) NOT NULL,
	[password] [nchar](15) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KETQUA] ([MASV], [MAMH], [DIEM]) VALUES (N'SV01      ', N'MH01      ', 10)
INSERT [dbo].[KETQUA] ([MASV], [MAMH], [DIEM]) VALUES (N'SV01      ', N'MH02      ', 9)
INSERT [dbo].[KETQUA] ([MASV], [MAMH], [DIEM]) VALUES (N'SV02      ', N'MH01      ', 10)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [TONGSO], [TONGHB]) VALUES (N'L01       ', N'LOP 1', 2, 1000000.0000)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [TONGSO], [TONGHB]) VALUES (N'L02       ', N'LOP 2', 1, 500000.0000)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [TONGSO], [TONGHB]) VALUES (N'L03       ', N'LOP 3', 0, 0.0000)
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC]) VALUES (N'MH01      ', N'MON HOC 1 ', 4)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC]) VALUES (N'MH02      ', N'MON HOC 2 ', 3)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC]) VALUES (N'MH03      ', N'MON HOC 3 ', 3)
GO
INSERT [dbo].[TAIKHOAN] ([username], [password], [status]) VALUES (N'kid            ', N'123            ', 1)
INSERT [dbo].[TAIKHOAN] ([username], [password], [status]) VALUES (N'son            ', N'123            ', 0)
GO
/****** Object:  Trigger [dbo].[TG_THEMSINHVIEN2]    Script Date: 13/04/2022 1:27:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_THEMSINHVIEN2]
ON [dbo].[SINHVIEN]
--nhan manh thao tac gi
FOR INSERT
AS
	-- Nếu xuất hiện mẫu tin trong bảng inserted
	IF((SELECT MALOP FROM inserted) IS NOT NULL)
	BEGIN
		UPDATE LOP
		SET
			-- inserted là bảng giả nhưng có cột như bảng PHANCONG
			TONGSO = TONGSO + 1,
			TONGHB = TONGHB + (SELECT HOCBONG FROM inserted)
		WHERE MALOP = (SELECT MALOP FROM inserted)

		PRINT 'DA CAP NHAT KHOA SAU KHI THEM SINHVIEN!!!'
	END
GO
ALTER TABLE [dbo].[SINHVIEN] ENABLE TRIGGER [TG_THEMSINHVIEN2]
GO
/****** Object:  Trigger [dbo].[TG_XOASINHVIEN2]    Script Date: 13/04/2022 1:27:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_XOASINHVIEN2]
ON [dbo].[SINHVIEN]
--nhan manh thao tac gi
FOR DELETE
AS
	BEGIN
		UPDATE LOP
			SET
				TONGSO = TONGSO - 1,
			TONGHB = TONGHB - (SELECT HOCBONG FROM deleted)
			WHERE MALOP = (SELECT MALOP FROM deleted)

			PRINT 'DA CAP NHAT KHOA SAU KHI XOA SINHVIEN!!!'
	END
GO
ALTER TABLE [dbo].[SINHVIEN] ENABLE TRIGGER [TG_XOASINHVIEN2]
GO
/****** Object:  Trigger [dbo].[TR_CAPNHATSINHVIEN2]    Script Date: 13/04/2022 1:27:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_CAPNHATSINHVIEN2]
ON [dbo].[SINHVIEN]
--nhan manh thao tac gi
FOR UPDATE
AS
	BEGIN
		UPDATE LOP
		SET
			TONGHB = TONGHB - (SELECT HOCBONG FROM deleted) + (SELECT HOCBONG FROM inserted)
		WHERE MALOP = (SELECT MALOP FROM deleted)

		PRINT 'DA CAP NHAT KHOA SAU KHI CAP NHAT SINHVIEN!!!'
	END
GO
ALTER TABLE [dbo].[SINHVIEN] ENABLE TRIGGER [TR_CAPNHATSINHVIEN2]
GO
/****** Object:  Trigger [dbo].[TR_SUATRONGVIEWS]    Script Date: 13/04/2022 1:27:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_SUATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF UPDATE
AS
BEGIN
	IF EXISTS(SELECT MAMH FROM inserted)
	BEGIN
		UPDATE KETQUA
		SET DIEM = (SELECT DIEM FROM inserted)
		WHERE MASV = (SELECT MASV FROM inserted)
		AND MAMH = (SELECT MAMH FROM inserted)

		PRINT 'DA SUA VAO BANG KETQUA'
	END
END
GO
/****** Object:  Trigger [dbo].[TR_THEMTRONGVIEWS]    Script Date: 13/04/2022 1:27:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_THEMTRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF INSERT
AS
BEGIN
	IF EXISTS (SELECT MASV FROM inserted)
	BEGIN TRAN THEM
	BEGIN
		--ton tai mau tin nao do trong bang inserted nhưng khong co MAGV nam trong bang GIANGVIEN
		IF(EXISTS(SELECT MASV FROM inserted WHERE MASV NOT IN(SELECT MASV FROM SINHVIEN)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
		--ton tai mau tin nao do trong bang inserted nhưng khong co MAMH nam trong bang MONHOC
		IF(EXISTS(SELECT MAMH FROM inserted WHERE MAMH NOT IN(SELECT MAMH FROM MONHOC)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
		--ton tai mau tin nao do trong bang inserted nhưng khong co MAMH nam trong bang MONHOC
		IF(EXISTS(SELECT MALOP FROM inserted WHERE MALOP NOT IN(SELECT MALOP FROM LOP)))
		BEGIN
			--quay lai
			ROLLBACK TRAN THEM
		END
	END

	--nếu bị 1 lỗi thì sẽ ko thêm được
	IF @@ERROR=1
	BEGIN
		ROLLBACK TRAN THEM
	END
	--ngược lại thì sẽ thêm được
	ELSE
	BEGIN
		INSERT INTO KETQUA
		SELECT MASV,MAMH,DIEM FROM inserted
		COMMIT TRAN THEM
		PRINT 'DA THEM VAO BANG KETQUA'
	END
END
GO
/****** Object:  Trigger [dbo].[TR_XOATRONGVIEWS]    Script Date: 13/04/2022 1:27:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_XOATRONGVIEWS]
ON [dbo].[ABC] INSTEAD OF DELETE
AS
BEGIN	
	IF EXISTS(SELECT MAMH FROM deleted)
	BEGIN
		DELETE FROM KETQUA
		WHERE MASV = (SELECT MASV FROM deleted)
		AND MAMH = (SELECT MAMH FROM deleted)
		PRINT 'DA XOA VAO BANG KETQUA'
	END
END
GO
