USE [QLNV]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 13/04/2022 1:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[MAPHG] [nchar](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[LUONG] [money] NULL,
	[IMPATH] [nvarchar](max) NULL,
	[ANH] [image] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 13/04/2022 1:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [nchar](10) NULL,
	[password] [nchar](10) NULL,
	[active] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TAIKHOAN] ([username], [password], [active]) VALUES (N'kid       ', N'123       ', 1)
INSERT [dbo].[TAIKHOAN] ([username], [password], [active]) VALUES (N'dad       ', N'234       ', 0)
GO
